
*.map

*.itm

html/

build-stm32f7_voip-arm_none_eabi_Cortex_M_with_openocd-Debug/

latex/

build-stm32f7_voip-ARM_Cortex_M-Debug/

tool/

*.autosave

*.user

stm32f7_voip\.qbs\.user\.6ee6d22

stm32f7_voip.qbs.user

Software_configurator/build-configurator-Desktop_Qt_5_12_0_GCC_64bit-Debug/

Software_configurator/build-configurator-Desktop_Qt_5_12_3_GCC_64bit-Debug/

stm32f7_voip\.qbs\.user\.3b9569e

Software_configurator/build-configurator-Desktop_Qt_5_12_3_GCC_64bit-Debug/

Software_configurator/build-configurator-Desktop_Qt_5_12_2_GCC_64bit-Debug/

Software_configurator/build-configurator-Desktop_Qt_5_13_0_GCC_64bit-Debug/

stm32f7_voip.qbs.user.4.10-pre1

Software_configurator/build-configurator-Desktop_Qt_5_12_5_GCC_64bit-Debug/

Software_configurator/build-configurator-Desktop_Qt_5_13_1_GCC_64bit-Debug/

firmware files.zip

firmware files/

Debug/
Release/
