/*
    All Colors

    main-bgr-dark:            #272e3a
    main-bgr-lightdark:       #38404d
    main-bgr-lightdark-add:   #303743
    border:                   #4c5462
    white:                    #fff
    orange:                   #eeba30
    orange-dark:              #dea91d
    red:                      #db574a
    green:                    #53c06f
    yellow:                   #fef67a
    lightgray:                #abb2bc (text)
    lightgray:                #e0e0e0 (bgr)
                              #68707c
*/

* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    outline: 0;
}


/* Titles */
#ContainerForm > QLabel#l_base_settings,
#ContainerForm > QLabel#l_default_settings,
#ContainerForm > QLabel#l_network_settings,
#ContainerForm > QLabel#l_pr_info_title,
QLabel#l_rules,
QLabel#l_dest {
    color: #eeba30;
    font-size: 12px;
    font-weight: 600;
}
#ContainerForm > QLabel#l_pr_info_title,
#ContainerForm > QLabel#l_base_settings {
    padding: 0 0 25px 0;
}
#ContainerForm > QLabel#l_default_settings,
#ContainerForm > QLabel#l_network_settings {
    padding: 25px 0;
}
/* ALL Titles End */



/* Common styles of elements */
/* Buttons */
QPushButton {
    border: none;
    min-width: 100px;
    max-width: 100px;
    min-height: 38px;
    max-height: 38px;
    background-color: #303743;
    color: #abb2bc;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
QPushButton:hover {
    background-color: #eeba30;
    color: #303743;
}
QPushButton:!enabled,
QPushButton:disabled {
    background: #454d5a;
    color: #272e3a;
}

/* Close modal window button */
#pb_close,
#b_close {
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    border: none;
    background: #e0e0e0 url(:/svg/close_icon_dark.svg) no-repeat center;
    margin: 0;
    position: fixed;
    top: 100px;
}
    #pb_close:hover,
    #b_close:hover {
        background: #272e3a url(:/svg/close_icon_light.svg) no-repeat center;
    }

/* Top Menu Buttons */
#w_close_hide > QPushButton {
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
}
#w_close_hide > QPushButton#b_exit {
    background: #303743 url(:/svg/logout_icon_sm.svg) no-repeat center;
}
    #w_close_hide > QPushButton#b_exit:hover {
        background: #eeba30 url(:/svg/logout_icon_dark_sm.svg) no-repeat center;
    }
#w_close_hide > QPushButton#b_settings {
    background: #38404d url(:/svg/settings_icon_contur.svg) no-repeat center;
}
    #w_close_hide > QPushButton#b_settings:hover {
        background: #4c5462 url(:/svg/settings_icon_contur.svg) no-repeat center;
    }
#w_close_hide > QPushButton#f_folding {
    background: #303743 url(:/svg/fold_window_sm.svg) no-repeat center;
}
    #w_close_hide > QPushButton#f_folding:hover {
        background: #eeba30 url(:/svg/fold_window_dark_sm.svg) no-repeat center;
    }

#w_top_menu > QPushButton {
    min-height: 69px;
    max-height: 69px;
    min-width: 120px;
    background-color: #38404d;
    color: #abb2bc;
    border-bottom: 1px solid #38404d;
    font-weight: 400;
}
#w_top_menu > QPushButton:hover {
    /*background-color: #e0e0e0;
    color: #272e3a;*/
    background-color: #272e3a;
    color: #abb2bc;
    border-bottom: 1px solid #eeba30;
}
/* Top Menu Buttons End */

/* Plus(add), Minus(remove) */
#m_add,
#m_rem,
#m_left,
#m_right,
#m_remove,
#m_add_rules,
#m_rem_rules,
#m_create,
#m_delete {
    max-width: 25px;
    min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    margin: 0 2px 5px 2px;
    border-radius: 1px;
}
#m_add,
#m_create,
#m_add_rules {
    background: #303743 url(:/svg/plus_sm.svg) no-repeat center;
}
#m_add:hover,
#m_create:hover,
#m_add_rules:hover {
    background: #eeba30 url(:/svg/plus_dark_sm.svg) no-repeat center;
}
#m_left {
    background: #303743 url(:/svg/left_arrow_sm.svg) no-repeat center;
}
#m_left:hover {
    background: #eeba30 url(:/svg/left_arrow_sm_hover.svg) no-repeat center;
}
#m_right {
    background: #303743 url(:/svg/right_arrow_sm.svg) no-repeat center;
}
#m_right:hover {
    background: #eeba30 url(:/svg/right_arrow_sm_hover.svg) no-repeat center;
}

#m_rem,
#m_remove,
#m_delete,
#m_rem_rules {
    background: #303743 url(:/svg/minus_sm.svg) no-repeat center;
}
#m_rem:hover,
#m_remove:hover,
#m_delete:hover,
#m_rem_rules:hover {
   background: #eeba30 url(:/svg/minus_dark_sm.svg) no-repeat center;
}
#m_add::disabled,
#m_create::disabled,
#m_add_rules::disabled {
   background: #454d5a url(:/svg/plus_dark_sm.svg) no-repeat center;
}
#m_rem::disabled,
#m_remove::disabled,
#m_delete::disabled,
#m_rem_rules::disabled {
   background: #454d5a url(:/svg/minus_dark_sm.svg) no-repeat center;
}
#m_left::disabled {
    background: #454d5a url(:/svg/left_arrow_sm_hover.svg) no-repeat center;
}
#m_right::disabled {
    background: #454d5a url(:/svg/right_arrow_sm_hover.svg) no-repeat center;
}



QToolButton {
   background-color: #303743;
   color: #abb2bc;
   border-radius: 2px;
   min-width: 35px;
   max-width: 35px;
   min-height: 35px;
   max-height: 35px;
   margin: 0;
   padding: 0;
}
QToolButton:disabled {
    background: #454d5a;
    color: #272e3a;
}
QToolButton:hover {
    background-color: #eeba30;
    color: #272e3a;
}
QToolButton[popupMode="1"] {
    padding-right: 20px;
}
QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
}
/* Buttons End */


/* Top Menu */
QMenu {
    background-color: #e0e0e0;
    min-width: 200px;
    padding: 0;
    margin: 0;
}
QMenu::item {
/*    width: 200px;*/
	min-width: 200px;
    color: #272e3a;
    padding: 10px;
    font-size: 12px;
}
QMenu::item:selected {
    background-color: #272e3a;
    color: #e0e0e0;
}
QMenu::item:disabled {
    background: #e0e0e0;
    color: #9a9a9a;
}
QMenu::item:disabled:hover {
    background: #e0e0e0;
    color: #9a9a9a;
}
QMenu > QIcon {
    padding: 0 25px;
}


/* QSlitter */
QSplitter::handle {
    background: #272e3a url(:/svg/splitter_or_icon.svg) no-repeat center;
}
QSplitter::handle#sp1 {
    margin: 0 0 0 10px;
}
QSplitter::handle#sp2 {
    margin: 0 10px 0 0;
}

/* QscrollBar */
QScrollBar:vertical {
    background: #272e3a;
    max-width: 3px;
    min-width: 3px;
    width: 3px;
    border: none;
}
QScrollBar::handle:vertical {
    background: #e0e0e0;
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: #272e3a;
    border: none;
}
/* QSlitter End */

/* Tables Styles */
QTableView {
    border: 0;
    border-collapse: collapse;
    background-color: none;
    font-size: 12px;
    /* selection-background-color: #e0e0e0; */
}
QTableView,
QTableView#t_ds_100 {
    background-color: #38404d;
}
QTableView QLineEdit,
QTableView QSpinBox {
    margin: 1px 0 0 0;
}
QTableView QComboBox {
    margin: 3px 0 0 0;
}
QTableWidget {
    background-color: none;
}
QTableWidget QHeaderView::section,
QTableView QHeaderView::section {
    height: 30px;
    min-height: 30px;
    background-color: #272e3a;
    color: #abb2bc;
    padding: 5px 20px;
    border: none;
    border-right: 2px solid #38404d;
    margin: 0;
    text-align: center;
    font-size: 12px;
}
QTableWidget::item,
QTableView::item {
    background-color: #303743;
    color: #abb2bc;
    text-align: center;
    border: 0;
    border-right: 2px solid #38404d;
    border-top: 2px solid #38404d;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}
QTableView::item:selected  {
    background-color: #eeba30;
    color: #38404d;
}
#m_table_stations::item:hover {
    background: red;
}
/*QTableView::item:hover  {
    background-color: #eeba30;
    color: #38404d;
}*/

QWidget#ipsProjectSettings > QTableView,
#m_table,
#m_view,
#m_table_groups,
#m_table_view,
#m_table_stations {
    border: none;
    background-color: #38404d;
}
QWidget#ipsProjectSettings > QTableWidget::item,
m_table::item,
m_view::item {
    background-color: #303743;
}
/* Tables Styles End */

/* QLineEdit, QComboBox, QSpinBox */
QLineEdit,
QComboBox,
QSpinBox {
    background-color: #303743;
    border-radius: 2px;
    min-height: 25px;
    max-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: #abb2bc;
    margin: 0;
    padding: 0 10px;
}
QComboBox::drop-down {
   background: url(:/svg/arrow_bottom.svg) no-repeat center;
   border: 0px;
   padding: 0 5px;
   width: 25px;
}

QLineEdit:focus,
QTextEdit:focus,
QTextEdit:focus:hover {
    /*border: 1px solid #68707c;*/
    background: #272e3a;
}
QLineEdit:hover,
QTextEdit:hover,
QComboBox:hover,
QSpinBox:hover,
QCheckBox::indicator:hover,
QRadioButton::indicator:hover {
    /*border: 1px solid #556071;*/
    background: #272e3a;
}

QLineEdit:disabled,
QTextEdit:disabled,
QComboBox:disabled,
QSpinBox:disabled,
QCheckBox::indicator:disabled,
QRadioButton::indicator:disabled {
    background: #454d5a;
    /*border: 1px solid #222936;*/
    color: #272e3a;
}
QTextEdit {
    background-color: #303743;
    border-radius: 2px;
    min-height: 50px;
    padding: 10px;
}
/*QComboBox QAbstractItemView {
    border: 0px;
    background-color: #e0e0e0;
    color: #272e3a;
    padding: 15px 0;
    selection-background-color: #303743;
}*/

QSpinBox::up-button,
QSpinBox::down-button {
    min-width: 25px;
}
QSpinBox::up-button {
   background: url(:/svg/arrow_top.svg) no-repeat center;
}
QSpinBox::down-button {
   background: url(:/svg/arrow_bottom.svg) no-repeat center;
}
QSpinBox::up-button:hover {
   background: #4c5462 url(:/svg/arrow_top.svg) no-repeat center;
}
QSpinBox::down-button:hover {
   background: #4c5462 url(:/svg/arrow_bottom.svg) no-repeat center;
}


/* Radiobuttons */
QRadioButton {
    padding: 2px 5px;
    color: #272e3a;
    font-size: 13px;
}
QRadioButton::indicator {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    border: 2px solid #272e3a;
    margin: 0 15px 0 0;
}
QRadioButton::indicator::checked {
    background-color: #53c06f;
}

/*Checkboxes*/
QCheckBox::indicator {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    border: 2px solid #272e3a;
}
QCheckBox::indicator::checked {
    background-color: #53c06f;
}
QCheckBox::indicator#c_pretone {
    border: 2px solid #abb2bc;
}
QCheckBox::indicator::checked#c_pretone {
    background-color: #53c06f;
    border: 2px solid #272e3a;
}
QCheckBox::indicator#c_pretone::disabled {
    border: 2px solid #454d5a;
}

/* QListView */
QListView {
    alternate-background-color: #272e3a;
    background: #272e3a;
    padding: 0;
}
QListView::item {
    padding: 5px 0;
    font-size: 11px;
    color: #abb2bc;
}
QListView::item:alternate {
}
QListView::item:selected,
QListView::item:selected:active {
    background: #eeba30;
    color: #272e3a;
    font-size: 11px;
    padding: 0 0 0 5px;
}
QListView::item:selected:!active {
    background: #e0e0e0;
    color: #38404d;
}
QListView::item:hover {
    background: #272e3a;
    /*padding: 0 0 0 5px;*/
}



/*#TypeListDialog QScrollBar:vertical {
    background-color: transparent;
    max-width: 8px;
    min-width: 8px;
    width: 8px;
    border: none;
    border-left: 5px solid #e0e0e0;
    selection-background-color: transparent;
    alternate-background-color: transparent;
}
#TypeListDialog QScrollBar::handle:vertical {
    background: #272e3a;
}
#TypeListDialog QScrollBar::up-arrow:vertical,
#TypeListDialog QScrollBar::down-arrow:vertical {
    background-color: transparent;
    border: none;
}*/


#TypeListDialog QScrollBar:vertical {
    border-left: 3px solid #e0e0e0;
    background: #e0e0e0;
    width: 6px;
    min-width:6px;
    margin: 0px 0px 0px 0px;
}
#TypeListDialog QScrollBar::handle:vertical {
    background: #272e3a;
    min-height: 0px;
}
#TypeListDialog QScrollBar::add-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
#TypeListDialog QScrollBar::sub-line:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
    height: 0 px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}



/* Common styles of elements end */




/* Main Window Styles */
QMainWindow,
#MainWindow {
    background-color: #272e3a;
}
#ContainerTopMenu {
    background-color: #303743;
}
#w_top_menu,
#tw_tree,
#tw_settings,
#tw_content {
    background-color: #38404d;
}

#tw_tree {
    min-width: 350px;
    max-width: 500px;
}
#w_block_left_tree {
    min-width: 350px;
    text-align: center;
    background-color: #272e3a;
}
#w_block_logo {
    min-width: 350px;
    background: #272e3a url(:/svg/ips_logo_head_2.svg) no-repeat center;
}
#tw_settings_container {
    background-color: #38404d;
    border-top: 20px solid #272e3a;
    min-width: 350px;
    max-width: 500px;
}


/* Left Tree Menu */
QTreeView {
    font-size: 12px;
    show-decoration-selected: 0;
    padding: 15px 0 0 0;
    qproperty-indentation: 25;
    selection-background-color: transparent;
}
QTreeView::item {
    padding: 0 10px;
    margin: 0;
    font-weight: normal;
    color: #DDE1E7;
    /*background-color: #242C3B;*/
    selection-background-color: transparent;
    /*qproperty-iconSize: 50px 100px;*/
    min-height: 28px;
    max-height: 28px;
    height: 28px;
    border: none;
}
QTreeView::item:hover {
    background-color: #272e3a;
}
QTreeView::item:selected {
    /*background-color: #3A475A;
    selection-background-color: transparent;*/
    background-color: #eeba30;
        selection-background-color: #eeba30;
        color: #38404d;
}
QTreeView::item:open {
    background-color: #272e3a;
    /*background-color: #2C3445;
    selection-background-color: transparent;*/
    /*selection-background-color: #272e3a;*/
}
QTreeView::item:open:hover {
    background-color: #2c3445;
}
QTreeView::item:focus {
    color: #38404d;
    border: none;
    background-color: #eeba30;
    selection-background-color: transparent;
    alternate-background-color: #eeba30;
    /*selection-background-color: #3A475A;*/
}
QTreeView::item:focus:hover {
    background-color: #eeba30;
}
QTreeView::item:closed {
    /*background-color: #242C3B;*/
}
QTreeView::branch {
    background-color: #38404d;
    min-height: 28px;
    max-height: 28px;
    height: 28px;
}
QTreeView::branch:open {
    background: #38404d url(:/svg/minus_sm.svg) no-repeat center;
}
QTreeView::branch:closed:has-children {
    background: #38404d url(:/svg/plus_sm.svg) no-repeat center;
}




/* RIGHT BLOCK SETTINGS Station Settings Right block */
#SISContainer > QLabel#l_station_caption,
#SISContainer > QLabel#l_additional_caption,
#SISContainer > QLabel#l_key_caption,
#SISContainer > QLabel#l_pretone_caption,
#SISContainer > QCheckBox#c_pretone,
#SipContainer > QCheckBox#c_activate,
#SipContainer > QLabel#l_caption,
#CommentContainer > QLabel#l_caption,
#Frame > QLabel#l_caption {
    color: #eeba30;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    padding: 0;
    min-width: 250px;
}
#SISContainer > QLabel#l_station_caption,
#CommentContainer > QLabel#l_caption,
#SipContainer > QLabel#l_caption,
#Frame > QLabel#l_caption {
    padding: 0 0 10px 0;
}
#SISContainer > QLabel#l_additional_caption,
#SISContainer > QLabel#l_key_caption,
#SISContainer > QLabel#l_pretone_caption,
#SISContainer > QCheckBox#c_pretone,
#SipContainer > QCheckBox#c_activate {
    padding: 20px 0 10px 0;
}
#SISContainer > QLabel,
#SipContainer > QLabel,
#CommentContainer > QLabel,
#Frame > QLabel {
    margin: 0;
    color: #abb2bc;
    font-size: 11px;
    padding: 0 0 0 1px;
}
#SISContainer > QLineEdit,
#SISContainer > QComboBox,
#SipContainer > QLineEdit,
#SipContainer > QComboBox,
#CommentContainer > QLineEdit,
#CommentContainer > QComboBox,
#Frame > QLineEdit,
#Frame > QComboBox {
    min-width: 150px;
    max-width: 150px;
    min-height: 25px;
    max-height: 25px;
    font-size: 11px;
    padding: 0 5px;
    margin: 0 0 5px 0;
}
#SISContainer > QComboBox::drop-down,
#SipContainer > QComboBox::drop-down,
#CommentContainer > QComboBox::drop-down,
#Frame > QComboBox::drop-down {
   padding: 0 0px;
}
#SISContainer > QComboBox:on,
#SipContainer > QComboBox:on,
#CommentContainer > QComboBox:on,
#Frame > QComboBox:on {
    /*padding: 15px;
    color: #272e3a;*/
    color: #abb2bc;
}
#SISContainer > QComboBox:!editable:on,
#SipContainer > QComboBox:!editable:on,
#CommentContainer > QComboBox:!editable:on,
#Frame > QComboBox:!editable:on {
    /*background: #abb2bc;*/
    background: #272e3a;
}
#SISContainer > QLineEdit#m_key_activate_lines {
    min-width: 120px;
    max-width: 120px;
}
#SISContainer > QPushButton,
#SipContainer > QPushButton,
#CommentContainer > QPushButton,
#Frame > QPushButton {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    background: #303743 url(:/svg/plus_sm.svg) no-repeat center;
    color: #abb2bc;
    padding: 0;
    border-radius: 2px;
    margin: 0 0 5px 5px;
    text-align: center;
}
#SISContainer > QPushButton:hover,
#SipContainer > QPushButton:hover,
#CommentContainer > QPushButton:hover,
#Frame > QPushButton:hover {
    background: #eeba30 url(:/svg/plus_dark_sm.svg) no-repeat center;
}

#SISContainer > QLineEdit#m_key_pretone_play {
    min-height: 27px;
    max-height: 27px;
}

/* ComboBox Styles */
#SISContainer QListView,
#SipContainer > QListView,
#CommentContainer > QListView,
#m_function > QListView,
#Frame > QListView {
    alternate-background-color: #272e3a;
    background: #272e3a;
}


#m_key_pretone_play {
    background: transparent;
}
#m_key_pretone_play > QHBoxLayout {
}

#m_key_pretone_play QToolButton {
   background-color: #303743;
   color: #abb2bc;
   border-radius: 2px;
   min-width: 25px;
   max-width: 25px;
   min-height: 25px;
   max-height: 25px;
   margin: 0 0 0 5px;
   padding: 0;
}
#m_key_pretone_play QToolButton:disabled {
    background: #454d5a;
    color: #272e3a;
}
#m_key_pretone_play QToolButton:hover {
    background-color: #eeba30;
    color: #272e3a;
}
#m_key_pretone_play QToolButton[popupMode="1"] {
    padding-right: 20px;
}
#m_key_pretone_play QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
}
/* RIGHT BLOCK SETTINGS End */
















QDialogButtonBox {
    dialogbuttonbox-buttons-have-icons: 0;
}

QDialogButtonBox:hover {
    background: red;
}

#DialogContainer > QPushButton#b_stop_config,
#DialogContainer > QPushButton#b_write_config {
    max-width: auto;
    min-width: 150px;
    padding: 0 15px;
    margin: 0;
}
#DialogContainer > QPushButton#b_stop_config {
    margin: 0 0 0 20px;
}



/* Container */
QWidget#w_content {
    background-color: #38404d;
}
#t_ds_100 {
    margin: 0;
}

/* Global parameters styles */
/* Styles forms */
#ContainerForm > QLabel,
#ContainerForm > QLineEdit,
#ContainerForm > QTextEdit {
    color: #abb2bc;
    font-size: 12px;
}
/* QLabel */
#ContainerForm > QLabel {
    min-width: 150px;
    width: auto;
    margin: 0;
    padding: 0 25px 0 0;
}
#ContainerForm > QLabel#l_customer,
#ContainerForm > QLabel#l_location,
#ContainerForm > QLabel#l_number,
#ContainerForm > QLabel#l_id,
#ContainerForm > QLabel#l_desc {
    padding: 7px 25px 0 0;
}
#ContainerForm > QLineEdit {
    padding: 5px 10px;
    margin: 5px 0;
}
#ContainerForm > QTextEdit {
    padding: 10px;
    margin: 5px 0;
}



/* StatusBar */
#statusbar {
    background-color: #38404d;
    min-height: 40px;
    padding: 0;
    margin: 0;
    /*border-top: 1px solid #68707c;*/
}

/* MessageBox Dialog */
#MessageBox {
    width: 265px;
    min-width: 265px;
    max-width: 265px;
    height: 105px;
    min-height: 105px;
    max-height: 105px;
    background-color: #abb2bc;
    border-radius: 2px;
}
#MessageBox > QLabel {
    color: #272e3a;
    font-size: 11px;
    font-weight: 500;
}
#l_iconStatus {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    background: #272e3a;
    background-position: center;
    border-radius: 20px;
}



/* QDialog Styles */
QDialog {
    background-color: #e0e0e0;
    /*background-color: #68707c;*/
}
QDialog QLabel {
    color: #272e3a;
    font-size: 11px;
    font-weight: 500;
}
QDialog QLabel#l_title,
QDialog QLabel#l_caption {
    color: #303743;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0;
}
#SaveProject {
    min-width: 350px;
    max-width: 350px;
    min-height: 225px;
    max-height: 225px;
}
#DialogContainer QLabel#l_warning {
    color: #303743;
    font-weight: 600;
    font-size: 12px;
    padding: 25px 0 0 0;
}

#ProgrammerDialog {
    min-width: 900px;
    max-width: 900px;
    min-height: 600px;
    max-height: 600px;
    background-color: #e0e0e0;
}
#ActivateControlLinesDialog {
    min-width: 350px;
    max-width: 350px;
    min-height: 250px;
    max-height: 250px;
}
#l_cid,
#l_value {
    min-width: 100px;
}




/* Window About */
QDialog#about {
    background-color: #e0e0e0;
    text-align: center;
    min-width: 600px;
    max-width: 600px;
    min-height: 400px;
    max-height: 400px;
    padding: 25px;
}
QLabel#l_about,
QLabel#l_version
{
    font-size: 16px;
    color: #272e3a;
    text-align: center;
    padding: 0 10px 50px 10px;
}
QLabel#l_git {
    font-size: 20px;
    color: #272e3a;
    text-align: center;
    padding: 0 10px 10px 10px;
}
QLabel#l_contacts {
    font-size: 14px;
    color: #68707c;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
}
QLabel#l_contacts:a {
    color: red;
    text-decoration: none;
}


/* Network */
#l_title_network {
    color: #303743;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 0 0 0;
}


/* Groups */
#GroupsItem > QTableView,
#GroupsItem > QTableWidget {
    background-color: #38404d;
}
#m_table_groups,
#m_table_view,
#m_table_stations {
    background-color: #38404d;
}
#m_status_connection {
    background-color: #303743;
    color: #abb2bc;
    border: none;
}
#m_connect {
    background-color: #303743;
    color: #abb2bc;
    width: 26px;
    height: 26px;
}
    #m_connect:hover {
        background-color: #eeba30;
        color: #303743;
    }
#btns_container > m_add,
#btns_container > m_rem {
    margin: 5px 0;
}
#l_statusConnection {
    color: #abb2bc;
    padding: 0 10px 0 10px;
}



/* QDialogs main styles */
/* Titles */
#Rs232Dialog QLabel#l_title,
#MessagesDialog QLabel#l_messages,
#TestDialog > #DialogContainer > QLabel#ipSettingsTitle {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    color: #272e3a;
}
#DialogContainer > QLineEdit,
#DialogContainer > QComboBox {
    padding: 5px 10px;
    color: #abb2bc;
    font-weight: 500;
    font-size: 12px;
}
#DialogContainer > QLineEdit:disabled,
#DialogContainer > QComboBox:disabled {
    color: #272e3a;
}
#DialogContainer > QLabel {
    font-size: 12px;
}
#DialogContainer > QPushButton {
    background-color: #272e3a;
    color: #abb2bc;
    text-align: center;
    border-radius: 2px;
}
#DialogContainer > QPushButton:hover {
    background-color: #eeba30;
    color: #272e3a;
}
#DialogContainer > QPushButton::disabled {
    background-color: #cbcbcb;
    text-align: center;
    border-radius: 2px;
}


/* CONFIGUREDLG */
#ConfigureDialog {
    min-width: 450px;
    max-width: 550px;
    min-height: 400px;
    max-height: 600px;
}
#ConfigureDialog QLabel {
    padding: 10px 0;
    margin: 0;
}
#ConfigureDialog > #DialogContainer > QLabel#l_info {
    color: #4c5462;
    min-height: 50px;
    font-size: 11px;
    font-weight: 400;
}
#ConfigureDialog > #DialogContainer > QLabel#l_open_port {
    min-height: 20px;
    padding: 0;
}
#ConfigureDialog QPushButton#b_send {
    max-width: 170px;
    min-width: 170px;
}
#ConfigureDialog QPushButton#b_rcv {
    max-width: 170px;
    min-width: 170px;
}
#ConfigureDialog QPushButton#b_open {
    max-width: 28px;
    max-height: 28px;
}
#ConfigureDialog QToolButton {
   margin: 0 0 0 5px;
}

/* Network Configuring */
#NetworkConfiguringDialog {
    min-width: 350px;
    max-width: 650px;
    min-height: 400px;
    max-height: 700px;
}


/* FMWAREDLG */
#FmWareDialog {
    min-width: 600px;
    max-width: 600px;
    min-height: 500px;
    max-height: 700px;
}
#FmWareDialog QLabel {
    padding: 10px 0;
    margin: 0;
}
#FmWareDialog > #DialogContainer > QLabel#l_info {
    color: #4c5462;
    min-height: 50px;
    font-size: 11px;
    font-weight: 400;
}
#FmWareDialog > #DialogContainer > QLabel#l_open_port {
    min-height: 20px;
    padding: 0;
}
#FmWareDialog QPushButton#b_send {
    max-width: 170px;
    min-width: 170px;
}
#FmWareDialog QPushButton#b_rcv {
    max-width: 170px;
    min-width: 170px;
}
#FmWareDialog QPushButton#b_loadFirmFile {
    max-width: 270px;
    min-width: 170px;
}
#FmWareDialog QToolButton {
   margin: 0 0 0 5px;
}

/* Firmware */
#FirmwareDialog {
    min-width: 650px;
    max-width: 650px;
    min-height: 500px;
    max-height: 500px;
}
#FirmwareDialog > #DialogContainer > QLabel#label_3,
#FirmwareDialog > #DialogContainer > QLabel#label_4 {
    padding: 15px 0 7px 0;
}
#FirmwareDialog > #DialogContainer > QLabel#label_9 {
    margin: 0 5px;
    font-size: 11px;
}
#FirmwareDialog > #DialogContainer > QLineEdit#lineEdit_4 {
    min-width: 150px;
    max-width: 150px;
}
/* Buttons */
#b_loadFirmFile {
    min-width: 170px;
    max-width: 170px;
}
#b_generateEncFirm {
    min-width: 260px;
    max-width: 260px;
    margin: 15px 0;
}
#b_uploadFirm {
    min-width: 140px;
    max-width: 140px;
    margin: 0 10px 0 0;
}
#b_loadUploadFirm {
    margin: 0 5px 0 0;
}


/* Message Dialog */
#MessagesDialog > #DialogContainer > QLineEdit {
    padding: 5px 10px;
    margin: 5px 0 15px 0;
}
#pb_load,
#pb_remove {
    min-width: 160px;
    max-width: 160px;
    margin: 0 5px;
}
QTableView#m_view QCheckBox::indicator {
    min-width: 6px !important;
    max-width: 6px !important;
    width: 6px !important;
    min-height: 6px !important;
    max-height: 6px !important;
    height: 6px !important;
    border: 2px solid #68707c !important;
}
QTableView#m_view QCheckBox::indicator:hover {
    border: 2px solid #68707c !important;
    background-color: #eeba30;
}
QTableView#m_view QCheckBox::indicator::checked {
    background-color: #53c06f;
    border: 2px solid #272e3a;
}
QTableView#m_view QCheckBox::indicator::disabled {
    border: 2px solid #454d5a;
}



/* Test & Service */
#TestDialog {
    max-width: 300px;
    min-width: 300px;
    max-height: 400px;
    min-height: 400px;
}
#TestDialog > #DialogContainer > QLabel {
    min-width: 100px;
    max-width: 100px;
    padding: 0 0 0 0.5px;
}
#TestDialog > #DialogContainer > QLabel#ipSettingsTitle {
    padding: 15px 0 !important;
}
#TestDialog > #DialogContainer > QLabel#ipSettingsDetail {
    min-width: 250px;
    max-width: 250px;
    padding: 15px 0;
}
#TestDialog > #DialogContainer > QLineEdit,
#TestDialog > #DialogContainer > QComboBox {
    margin: 0 0 5px 0;
}


/* Debug */
#DebugViewDialog {
    min-width: 700px;
    max-width: 800px;
    min-height: 650px;
    max-height: 650px;
}

/* Programmer */
QWidget#ProgrammerDialog {
    min-width: 900;
    max-width: 900;
    min-height: 600;
    max-height: 600;
    padding: 50px;
}
#b_read_cofig,
#b_reboot,
#b_write_config {
    min-height: 40px;
    max-height: 40px;
    background-color: #cbcbcb;
    color: #272e3a;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 0;
    border-radius: 2px;
}
#b_read_cofig:hover,
#b_reboot:hover,
#b_write_config:hover {
    background-color: #eeba30;
    color: #272e3a;
}
QWidget#ProgrammerDialog > QTableWidget#tw_programmer {
    border: 0px;
    background-color: #e0e0e0;
    selection-background-color: #e0e0e0;
}


/* Network */
#l_title_network {
    color: #303743;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 0 0 0;
}


/* Groups */
#GroupsItem > QTableView,
#GroupsItem > QTableWidget {
    background-color: #38404d;
}
#m_table_groups,
#m_table_view,
#m_table_stations {
    background-color: #38404d;
}
#m_status_connection {
    background-color: #303743;
    color: #abb2bc;
    border: none;
}
#m_connect {
    background-color: #303743;
    color: #abb2bc;
    width: 26px;
    height: 26px;
}
    #m_connect:hover {
        background-color: #eeba30;
        color: #303743;
    }
#btns_container > m_add,
#btns_container > m_rem {
    margin: 5px 0;
}
#l_statusConnection {
    color: #abb2bc;
    padding: 0 10px 0 10px;
}



QDialogButtonBox {
    dialogbuttonbox-buttons-have-icons: 0;
}

QDialogButtonBox:hover {
    background: red;
}

#DialogContainer > QPushButton#b_stop_config,
#DialogContainer > QPushButton#b_write_config {
    max-width: auto;
    min-width: 150px;
    padding: 0 15px;
    margin: 0;
}
#DialogContainer > QPushButton#b_stop_config {
    margin: 0 0 0 20px;
}









